$slab: 'Roboto Slab',
serif;

.addTask-error {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   border: 2px solid #eee;
   max-width: 450px;
   width: 100%;
   padding: 15px;

   &-overlay {
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgba(255, 255, 255, 0.75);
   }
   
   &__note {
      font-size: 16px;
      text-align: center;
      margin-bottom: 15px;
   }

   &__ok {
      display: block;
      padding: 0 20px;
      background-color: #eee;
      transition: all 0.3s ease;
      height: 35px;
      font-family: $slab;
      font-size: 14px;
      border: none;
      cursor: pointer;
      margin-left: auto;
      margin-right: auto;

      &:hover {
         background-color: rgb(224, 224, 224);
      }
   }
}